@use "../foundation/global" as *;

.info {

    &-inner {

    }

    &-items {

    }

    &-item {
        margin-top: 97px;

        @include mq("sp") {
            margin-top: 29px;
        }

        &:not(:first-child) {
            margin-top: 60px;

            @include mq("sp") {
                margin-top: 38px;
            }
        }
        
        &__headArea {
            display: grid;
            place-items: center;
            width: 100%;
            height: 40px;
            margin-bottom: 40px;
            background-color: $theme03_blue;

            @include mq("sp") {
                margin-bottom: 15px;
            }
        }
        &__head {
            font-size: 18px;
            font-weight: bold;

            @include mq("sp") {
                font-size: 16px;
            }
        }

        &__textArea {
            text-align: center;

            @include mq("sp") {
                text-align: left;
            }
        }
        &__text {
            font-size: 14px;
            font-weight: 500;
        }

        &__ul {

        }

        &__list {
            padding-left: 26px;
            position: relative;
            text-align: left;
            font-size: 14px;
            line-height: 24px;
            font-weight: 500;

            &:not(:first-child) {
                margin-top: 5px;

                @include mq("sp") {
                    margin-top: 10px;
                }
            }

            &::before {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 5px;
                left: 0;
                background: url(/images/check.png) no-repeat center center / cover;
            }
        }
        &__listLink {
            color: $theme05_blue;
            text-decoration: underline;
        }
    }
}