@use "../foundation/color" as *;

$layout-width-inner: 1080px;

// ブレイクポイント
$breakpoints: (
    "sp": "(max-width: 767px)",
    "tab": "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
    "pc": "(min-width: #{$layout-width-inner})",
);
// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

.inner {
    width: min(100% - 2rem, 1000px);
    margin-inline: auto;
    
    // width: 1000px;
    // max-width: 100%;
    // margin: 0 auto;
}

.pc-only {
    display: block;

    @include mq("sp") {
        display: none;
    }
}
.sp-only {
    display: none;

    @include mq("sp") {
        display: block;
    }
}

.section {
    padding: 120px 0;

    @include mq("sp") {
        padding: 60px 0;
    }

    &-title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 900;
        text-align: center;
        
        @include mq("sp") {
            font-size: 20px;
            line-height: 28px;
        }
        
    }
    &-subtitle {
        font-size: 18px;
        line-height: 36px;
        font-weight: bold;
        text-align: center;
        
        @include mq("sp") {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.btn {
    display: grid;
    place-items: center;
    background-color: $btn_yellow_dark;
    position: relative;
    transition: all 0.3s ease 0s;

    &:hover {

        &::before {
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &::before {
        content: "";
        display: block;
        height: 100%;
        background-color: $btn_yellow;
        position: absolute;
        transition: all 0.3s ease 0s;
    }

    &__text {
        color: $theme04_blue;
        font-size: 20px;
        font-weight: 900;
        position: relative;
        z-index: 2;
        transition: all 0.3s ease 0s;

        &::before,
        &::after {
            content: "";
            display: block;
            width: 11.5px;
            height: 3px;
            background-color: $theme04_blue;
            position: absolute;
        }
    }
}

.cta-btn {
    width: 346px;
    height: 54px;
    border-radius: 32px;
    
    &:hover {
        
        &::before {
            top: 0;
            left: 0;
        }
        
        .cta-btn__text {
            top: 0;
            left: 0;
        }
    }
    
    &::before {
        width: 100%;
        top: -6px;
        left: -3px;
        border-radius: 32px;
    }
    
    &__text {
        top: -6px;
        left: -3px;

        &::before,
        &::after {
            right: -50px;
        }
        &::before {
            top: 12px;
            transform: rotate(45deg);
        }
        &::after {
            top: 18px;
            transform: rotate(-45deg);
        }
    }
}

.fixed-btn {
    position: fixed;
    bottom: 20px;
    right: 0;
    width: 80px;
    height: 267px;
    border-radius: 20px 0 0 20px;

    @include mq("sp") {
        display: none;
    }

    &:hover {

        .fixed-btn__text {
            top: 0;
            left: 0;
        }
    }
    
    &::before {
        width: 74px;
        top: -6px;
        left: 6px;
        border-radius: 20px 0 0 20px;
    }
    
    &__text {
        writing-mode: vertical-rl;
        top: -6px;
        left: 6px;

        &::before,
        &::after {
            left: 50%;
        }
        &::before {
            bottom: -18px;
            transform: rotate(45deg) translateX(-50%);
        }
        &::after {
            bottom: -17px;
            transform: rotate(-45deg) translateX(-50%);
        }
    }
}